@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

:root{
    --black: #272d3b;
    --red: #fb72ab;
    --coral: #eeb0af;
    --pink: #f69c9a;
    --gradient: linear-gradient(90deg, var(--red),var(--coral));
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
body{
    background: white;
}
*::selection{
    background: var(--red);
    color: #fff;
}





section {
    padding: 0.5rem ;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding: 2rem;
    margin: 2rem;
    background: rgb(250, 196, 204)}



.sale{
    display:flex;
    align-items: center;
    min-height:100vh;
    background:url(about1.JPG) no-repeat;
    background-size: 100%;
    background-position: center;
    }
    
    .sale .content{
    max-width: 100rem;
    }
    
    .sale .content h3{
    font-size: 7rem;
    font-family: sans-serif, cursive;
    color: #333;
    }
    
    .sale .content span{
    font-size: 3.5rem;
    color: #494747;
    padding: 2rem 0;
    line-height: 1.5;
    }
    


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 1rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--red);
}




.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem
}
.products .box-container .box{
    flex: 1 1 33rem;
    box-shadow: 0 .5rem rgba(0, 0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0, 0,0,.1);
    position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top: 0.3rem; left: 0.5rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    color:var(--red);
    background: rgba(227, 168, 168, 0.1);
    z-index: 1;
    border-radius:.5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background:rgb(236, 103, 125) ;
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background: #333;
}

.products .box-container .box .content{
    padding: 1rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.products .box-container .box .content price{
    font-size: 2.5rem;
    color:var(--red);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}